SUI_NETWORK=testnet
SUI_RPC_URL=https://fullnode.testnet.sui.io:443
X_MARKET_PACKAGE_ID=0x...
PROPHET_REGISTRY_ID=0x...
PROPHET_AUDIT_POOL_IDS=0xpool1,0xpool2
PROPHET_AUDIT_KEEPER_SECRET_KEY=suiprivkey...
PROPHET_AUDIT_POLL_MS=120000
PROPHET_AUDIT_DRY_RUN=true
PROPHET_AUDIT_HEALTH_PORT=8792
INDEXER_URL=http://localhost:8800
IPFS_GATEWAY_URL=https://w3s.link
SEAL_THRESHOLD=1
